.modal-overlay{
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index:10;

    

    background: rgba(0,0,0,0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    
    .modal{
        background: #fff;
        width: 590px;
        height: 326px;;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: 'Poppins', sans-serif;

        svg{
            margin-bottom: 24px;
        }

        h1{
            color: #29292E;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        span{
            color:#737380;
            font-size: 16px;
        }

        div {
            display: flex;
            gap: 6px;
            margin-top: 24px;

            button{
                width: 159px;
                height: 48px;
                border: 0;
                border-radius: 8px;
                cursor: pointer;


                &:first-of-type {
                
                    background: #DBDCDD;
                    color: #737380;
                }
                &:nth-of-type(2) {
                    color: #fefefe;
                    background: #E73F5D;
                }

                &:hover {
                    filter: brightness(0.9);
                }
            }
            
        }
    }
}

@media (max-width: 550px){
    .modal-overlay{
        .modal{
            padding: 10px;
            max-width: 370px;
            max-height: 250px;

            span{
                text-align: center;
            }

            div{
                gap: 10px;
            }
        }
    }
}